
/*COLORS:
   #E8F6EF, #E99497, #FFD8CC, #DBE6FD, #F5E8C7, #F4DFD0, #F1ECC3, #FFBBCC, #261C2C , #289672 ,#373A40, #082032, #e7f6f1 */
   *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e7f6f1;
  }

  .navbar{

    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7f6f1;
    }
    .logo
    {
    width:120px;
    cursor: grab;
    background: #e7f6f1;
    }
    .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;


    }

    .navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    ;

    }

    .navbar ul li ::after{
    content:'';
    height: 3px;
    width:0;
    background: #22a778;
    position: absolute;
    left:0;
    top:30px;
    transition: 0.5s;

    }

    .navbar ul li:hover ::after{
    width:100%;

    }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  font-size: 20px;

  padding-bottom: 10px;

}

span {
  font-size: 17px;
  background: none;
 height: 10px;
  font-weight: 600;
  font-family: 'Montez', cursive;
  font-style: italic;
  /* color: #1EAE98; */
  color:#22a778;
}

p {
  font-weight: 200;
  font-family: 'Karla', sans-serif;
  color: #373A40;
}

.banner {
  width: 100%;
  height: 100vh;
  background: #e7f6f1;
  background-position: center;
  display: grid;
}

.title {
  width: 94%;
  margin: 0 3%;
  padding: 40px 0 30px 0;
  display: flex;
  font-family: 'Merriweather', serif;
  font-size: 23px;
  justify-content: center;
}

.title a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  position:absolute;
}

.title a ::after {
  content: '';
  height: 3px;
  width: 0;
  background:#22a778;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.5s;
}

.title a :hover::after {
  width: 100%
}

.DRS {
  float: none;
  height: 370px;
  width: 370px;
}

.Scroller {
  max-height: 600px;
  border: 5px solid #e7f6f1;
  border-right-width: 90px;
  border-left-width: 100px;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  flex-wrap: nowrap;
  flex-direction: row;
}

.Scroller::-webkit-scrollbar {
  width: 0;
  background-color: #e7f6f1;
}

.Scroller .imgs {
  min-width: 33%;
  /*height: 600px;*/
  height: 400px;
  line-height: 25px;
  text-align: center;
  padding: 10px 0;
  background-color: #e7f6f1;
  display: inline-table;
}

button {
  width: 200px;
  padding: 0.30% 0%;
  text-align: center;
  margin: 0 43%;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #22a778;
  background: transparent;
  cursor: pointer;
  
  position: sticky;

  overflow: hidden;
}

button:hover {
  border: none;
}

.buttonSpan {
  background: #22a778;
  width: 0;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover .buttonSpan {
  width: 100%;
}




::-webkit-scrollbar-thumb:hover {
    background-color: #22a778;

}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
    background-color: #e7f6f1;
}
