@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background:#22a778;
}
.navbar{

  width: 85%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  }
  .logo
  {
  width:120px;
  cursor: grab;
  }
  .navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;


  }

  .navbar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  ;

  }

  .navbar ul li ::after{
  content:'';
  height: 3px;
  width:0;
  background: #009688;
  position: absolute;
  left:0;
  top:30px;
  transition: 0.5s;

  }

  .navbar ul li:hover ::after{
  width:100%;

  }
p{

  font-size:larger;
  /*/font-family: 'Montez', 'cursive';*/
  font-family: 'Karla', sans-serif;}
.container{
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  padding-left: 100px;
}
.container .title::before{
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 258px;
  border-radius: 5px;
  background: #22a778;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  padding-left: 100px;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }






 button {
    width: 200px;
    padding: 12px 15px;
    text-align: center;
   
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #22a778;
    background: transparent;
    cursor: pointer;
    color: #373a40;
    position: sticky;
    overflow: hidden;

  }

  button:hover {
    border: none;
   
  }

  .buttonSpan {
    background: #22a778;
    width: 0;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }

  button:hover .buttonSpan {
    width: 100%;
  }





 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
a{
    display: inline-block;

    margin-left: 45px;

}
